body {
	margin: 0;
}
#root {
	margin: 0;
	width: 100vw;
	
}

nav ul {
	display: inline-flex;
	list-style: none;

}

.products {
	width: 100vw;
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
	grid-gap: 1%;
	justify-items: center;
	
}

